* {
 box-sizing: border-box;
}

body, html {
    padding:0;
    margin: 0;
    background-color:#698FAB;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    min-width: 320px;
    font-size:18px;
    min-height: 80%;
}

a, a:hover, a:focus {
    color:#698FAB;
    text-decoration: none;
}
.header {
    background: #fff;
    padding:20px;
}
.footer {
    background: #fff;
    padding:20px;
    font-size: 12px;
}

.menu {
    background: #6C6C6C;
    text-align: center;
    color: #fff;

}
.item {
    padding:15px 30px;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    border-left: 1px solid white;
    font-variant: small-caps;
    text-transform: capitalize;
}

.item:first-child {
    border-left: none;
}

.content {
    background: #fff;
    padding:20px;
}


.page {
    margin: 20px auto;
    width: 960px;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    background: url("revealjs/kayak-logo.png") no-repeat 50% 50%;
    width: 187px;
    height: 43px;
}

.team {
   font-size: 0;
    text-align: left;
}
.member {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    min-width: 250px;
    width: 33.333%;
    padding: 10px;
}

.member-title {
 text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}
.member-photo {
    margin: 20px 0;
}
.member-lectures {
    text-align: left;
}

.post {
    padding: 20px 0;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;

}

.post-date {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.post-text {

}

.post-image {
    float: left;
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #f4f4f4;

    margin-right: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.row:after, .row:before, .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.row.spacing .cell {
    padding: 10px 5px 0 5px;
}

.row.spacing .cell:last-child {
    padding-right: 0;
}

.cell {
    float: left;
}
.rcell {
    float: right;
}
.size1of10 {
    width: 10%;
}

.size1of9 {
    width: 11.1111%;
}
.size1of8 {
    width: 12.5%;
}
.size1of7 {
    width: 14.2857%;
}
.size1of6 {
    width: 16.6666%;
}
.size1of5 {
    width: 20%;
}

.size1of4 {
    width: 25%;
}

.size1of3 {
    width: 33.3333%;
}

.size2of3{
    width: 66.6666%;
}

.size3of4 {
    width: 75%;
}

.size1of2 {
    width: 50%;
}

.size1of1 {
    width: 100%;
}


h1, h2, h3, h4, p {
 margin: 0 0 10px 0;
}

table thead {
    font-weight: bold;
}
table td {
 vertical-align: top;
 padding:5px;
}

.lessonslist li {
    padding-bottom: 10px;

    
}







@media all and (max-width: 959px) {
    .page {
        padding: 10px;
        width: 100%;
    }


}

@media all and (max-width: 500px) {

    .mob-size1of1 {
        width: 100%;
    }

    .item {
        border-left: none;
        padding:10px 10px;
    }

    table td {
     display: block;
    }
}

.table {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #000000;
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.table table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.table tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.table table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.table table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.table tr:hover td{
    
}
.table tr:nth-child(odd){ background-color:#e5e5e5; }
.table tr:nth-child(even)    { background-color:#ffffff; }.table td{
    vertical-align:middle;
    
    
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
        background:-o-linear-gradient(bottom, #b2b2b2 5%, #b2b2b2 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #b2b2b2 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#b2b2b2,b2b2b2);

    background-color:#b2b2b2;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #b2b2b2 5%, #b2b2b2 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #b2b2b2 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#b2b2b2,b2b2b2);

    background-color:#b2b2b2;
}
.table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

h3 {
    margin-top: 15px;
}


